<div class="row">
    <h2 class="text-sm-center">Your EthID</h2>
    <div class="jumbotron col-sm-10 col-sm-push-1">
        <h4>
            {{ profile.email }}
            <small>
                {{ profile.name }}
            </small>
        </h4>
        <p>
            To link a new Ethereum address to your identity,
            call <code>register("{{ profile.email }}")</code> on any contract found at
            <a href="/contracts">ethid.xyz/contracts</a>.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Address
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            {{#each identities}}
                <tr id="{{ ethereumAddress }}">
                    <td>
                        <a href="/{{ ethereumAddress }}">
                            {{ ethereumAddress }}
                        </a>
                    </td>
                    <td>
                        <a href="/contracts/{{ identityType }}">
                            {{ identityType }}
                        </a>
                    </td>
                    <td class='_button_bar'>
                        {{#if verified}}
                            <span>Verified</span>
                        {{ else }}
                            <button class="btn btn-danger _reject">
                                Reject
                            </button>
                            <button class="btn btn-success _approve">
                                Approve
                            </button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script>
    var identities = [
        {{#each identities}}
            {
                addr: "{{ ethereumAddress }}",
                identityType: "{{ identityType }}",
                verified: {{ verified }},
            },
        {{/each}}
    ];
    identities.forEach(function (identity) {
        if (identity.verified) {
            return;
        }
        var $row = $('#' + identity.addr);
        var postData = {
            ethereumAddress: identity.addr
        };
        $row.find('._button_bar ._reject').on('click', function () {
            $.ajax({
                method: 'POST',
                url: '/identity/' + identity.identityType + '/reject',
                data: postData,
            })
                .success(function () {
                    $row.remove();
                });
        });
        $row.find('._button_bar ._approve').on('click', function () {
            $.ajax({
                method: 'POST',
                url: '/identity/' + identity.identityType + '/approve',
                data: postData,
            })
                .success(function () {
                    $row.find('._button_bar').html('<span>Verified</span>');
                });
        });
    });
</script>