<div class="row">
   <div class="col-md-5">
      <div class="card">
         <div class="card-block">
            <h3 class="card-title">
               <span>My {{ identityType }} Identity</span>
            </h3>
            <div class="card-text">
               <div class="text-sm-center"
                    style="
                  border: 1px lightgray solid;
                  background-color: white;
                  border-radius: 5px;
                  padding: 3px 0px;
            ">
                  {{ profile.email }}
               </div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-block">
            <h5 class="card-title">
               Identity Contract
            </h5>
            <div class="card-text">
               <p>
                  To add this contract to your wallet, navigate to Contracts > Watch Contract in your Mist Wallet
                  and paste the address and ABI into it.
               </p>
               <p>
                  To link an Ethereum address to this identity, call <code>register("{{ profile.email }}")</code> from that address
                  on the contract and wait for the address to show up here.
               </p>
            </div>
         </div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <span>Address</span>
               <pre>{{ contract.ethereumAddress }}</pre>
            </li>
            <li class="list-group-item">
               <span>ABI</span>
               <pre>{{ contract.abiDefinition }}</pre>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-7">
      <div class="card row">
         <div class="card-block">
            <h4 class="card-title">
               Linked Addresses
            </h4>
            <div class="card-text">
               <table class="table table-sm">
                  <thead>
                  <tr>
                     <th>
                        Address
                     </th>
                  </tr>
                  </thead>
                  {{#each verifiedIds}}
                     <tr id="{{ ethereumAddress }}">
                        <td>
                           <a href="/{{ ethereumAddress }}">
                              {{ ethereumAddress }}
                           </a>
                        </td>
                     </tr>
                  {{/each}}
               </table>
            </div>
         </div>
      </div>
      <div class="row">
         {{#each unverifiedIds}}
            <div class="card row">
               <div class="card-block">
                  <h4 class="card-title">
                     Pending Addresses
                  </h4>
                  <div class="card-text">
                     <table class="table table-sm">
                        <thead>
                        <tr>
                           <th>
                              Address
                           </th>
                        </tr>
                        </thead>
                        <tr id="{{ ethereumAddress }}">
                           <td>
                              <pre>{{ ethereumAddress }}</pre>
                           </td>
                           <td>
                              <div class="btn-group _button_bar">
                                 <button class="btn btn-secondary btn-sm _verifying
                                    {{#ifEqual registerState "pending"}}hidden-sm-up{{/ifEqual}}
                                 " disabled>
                                    Verifying..
                                 </button>
                                 {{#ifEqual registerState "pending"}}
                                    <button class="btn btn-danger btn-sm _reject">
                                       Reject
                                    </button>
                                    <button class="btn btn-success btn-sm _approve">
                                       Approve
                                    </button>
                                 {{/ifEqual}}
                              </div>
                           </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         {{/each}}
      </div>

   </div>
</div>

<script>
   var unverifiedIds = [
      {{#each unverifiedIds}}
         {
            addr: "{{ ethereumAddress }}",
            identityType: "{{ identityType }}",
         },
      {{/each}}
   ];
   unverifiedIds.forEach(function (identity) {
      var $row = $('#' + identity.addr);
      var postData = {
         ethereumAddress: identity.addr
      };
      $row.find('._button_bar ._reject').on('click', function () {
         $.ajax({
            method: 'POST',
            url: '/identity/' + identity.identityType + '/reject',
            data: postData,
         })
               .success(function () {
                  $row.fadeOut(10, function () {
                     $row.remove();
                  });
               });
      });
      $row.find('._button_bar ._approve').on('click', function () {
         $.ajax({
            method: 'POST',
            url: '/identity/' + identity.identityType + '/approve',
            data: postData,
         })
               .success(function () {
                  $row.find('._verifying').show();
                  $row.find('._approve').hide();
                  $row.find('._reject').hide();
               });
      });
   });
</script>