<div class="row">
   <div class="col-md-5">
      <div class="card">
         <div class="card-block">
            <h3 class="card-title">
               <span>My {{ identityType }} Identity</span>
            </h3>
            <div class="card-text">
               <div class="text-sm-center"
                    style="
                  border: 1px lightgray solid;
                  background-color: white;
                  border-radius: 5px;
                  padding: 3px 0px;
            ">
                  <a href="{{ identityValue }}">
                     {{ identityValue }}
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-block">
            <h5 class="card-title">
               Identity Contract
            </h5>
            <div class="card-text">
               <p>
                  <strong>Watch</strong><br>
                  To add this contract to your wallet, navigate to Contracts > Watch Contract in your Mist Wallet
                  and paste the address and ABI into it.
               </p>
               <p>
                  <strong>Link</strong><br>
                  To link an Ethereum address to this identity, call <code>link("{{ identityValue }}")</code> from
                  that address on the contract and wait for the address to appear here, after which you can approve it.
               </p>
            </div>
         </div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <span>Address</span>
               <pre>{{ contract.ethereumAddress }}</pre>
            </li>
            <li class="list-group-item">
               <span>ABI</span>
               <pre>{{ contract.abiDefinition }}</pre>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-7">
      <div class="card">
         <div class="card-block">
            <h4 class="card-title">
               Linked Addresses
            </h4>
            <div class="card-text">
               <table class="table table-hover">
                  <thead>
                  <tr>
                     <th>
                        Address
                     </th>
                     <th>
                        Date
                     </th>
                  </tr>
                  </thead>
                  {{#each verifiedIds}}
                     <tr id="{{ ethereumAddress }}">
                        <td>
                           <a href="/{{ ethereumAddress }}">
                              {{ ethereumAddress }}
                           </a>
                        </td>
                        <td>
                           <small>{{ createdAt }}</small>
                        </td>
                     </tr>
                  {{/each}}
               </table>
            </div>
         </div>
      </div>
      {{#each unverifiedIds}}
         <div class="row">
            <div id="pending-{{ ethereumAddress }}" class="col-lg-8 col-lg-push-2 card">
               <div class="card-block">
                  <h4 class="card-title">
                     Pending Address
                  </h4>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                     <a href="/{{ ethereumAddress }}">
                        {{ ethereumAddress }}
                     </a>
                  </li>
                  <li class="list-group-item">
                     {{ createdAt }}
                  </li>
               </ul>
               <div class="card-footer _actions">
                  {{#ifEqual registerState "pending"}}
                     <button class="btn btn-danger _reject">
                        Reject
                     </button>
                     <button class="btn btn-success _approve">
                        Approve
                     </button>
                  {{/ifEqual}}
                  {{#ifEqual registerState "verifying"}}
                     <span>Verifying..</span>
                  {{/ifEqual}}
               </div>
            </div>
         </div>
      {{/each}}
   </div>
</div>

<script>
   var unverifiedAddrs = [
      {{#each unverifiedIds}}
         "{{ ethereumAddress }}",
      {{/each}}
   ];
   unverifiedAddrs.forEach(function (addr) {
      var $row = $('#pending-' + addr);
      var postData = {
         ethereumAddress: addr
      };
      $row.find('._reject').on('click', function () {
         $.ajax({
            method: 'POST',
            url: '/identity/reject',
            data: postData,
         })
               .success(function () {
                  $row.fadeOut(10, function () {
                     $row.remove();
                  });
               });
      });
      $row.find('._approve').on('click', function () {
         $.ajax({
            method: 'POST',
            url: '/identity/approve',
            data: postData,
         })
               .success(function () {
                  $row.find('._approve').hide();
                  $row.find('._reject').hide();
                  $row.find('._actions').append('<span>Verifying..</span>');
               });
      });
   });
</script>