<div class="row">
   <div class="col-md-8">
      <div class="jumbotron">
         <h2>
            EthID
            <small>Your identity on the blockchain</small>
         </h2>
         <hr>
         <p>
            EthID allows you to link your identity to an Ethereum address and store it on the
            Ethereum blockchain, where it can be used by other contracts that require identity.
         </p>
         <h4>How to link an identity</h4>
         <p>
            Login with an online identity (on the right), then call <code>link()</code> on the
            corresponding identity contract with your profile URL.
         </p>
         <p>
            Don't worry if this is confusing. There are step-by-step instructions to link an address after you login.
         </p>
         <h4>How to use identity</h4>
         <p>
            To use identity in your own contract, find an <a href="/contracts">identity contract</a> you would like to
            use
            and read its <code>verifiedIdentityOf</code> mapping. Each identity provider (Twitter, Facebook, Coinbase,
            etc.)
            has its own identity contract.
         </p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card text-sm-center">
         <div class="card-block">
            <h3 class="card-title">
               {{#if isLoggedIn}}
                  {{ identityType }} Identity
               {{else}}
                  Login
               {{/if}}
            </h3>
         </div>
         {{#if isLoggedIn}}
            <img class="card-img-top" src="{{ profile.avatarUrl }}" alt="Card image cap">
         {{/if}}
         {{#if isLoggedIn}}
            <div class="card-block">
               <table class="table table-striped table-sm">
                  <tr>
                     <td>Name</td>
                     <td>{{ profile.name }}</td>
                  </tr>
                  <tr>
                     <td>Username</td>
                     <td>{{ profile.username }}</td>
                  </tr>
               </table>
               <div>
                  <a href="/identity" class="btn btn-lg btn-primary">
                     Addresses
                  </a>
                  <a href="/coinbase/login" class="btn btn-lg btn-secondary">
                     Logout
                  </a>
               </div>
            </div>
         {{else}}
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <a href="/coinbase/login" class="btn btn-lg btn-primary">
                     Login with Coinbase
                  </a>
               </li>
               <li class="list-group-item">
                  <a href="/twitter/login" class="btn btn-lg btn-primary">
                     Login with Twitter
                  </a>
               </li>
            </ul>
         {{/if}}
      </div>
   </div>
</div>