<div class="row">
    <div class="col-md-4">
        <div class="card">
           <div class="card-block">
              <h3 class="card-title">
                 Public Identity
              </h3>
              <div class="card-text">
                 <p>
                    These identities are stored and cryptographically secured in the Ethereum blockchain,
                    and verified by EthID.
                 </p>
              </div>
           </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
           <div class="card-block">
              <div class="card-text">
                 <h3 class="text-center">
                    <pre>{{ ethereumAddress }}</pre>
                 </h3>
                 {{#unless identities}}
                    <h4>No verified identities for this address</h4>
                 {{else}}
                    <table class="table table-condensed">
                       <thead>
                       <tr>
                          <th>
                             Email
                          </th>
                          <th>
                             Type
                          </th>
                       </tr>
                       </thead>
                       {{#each identities}}
                          <tr>
                             <td>
                                {{ emailAddress }}
                             </td>
                             <td>
                                <a href="/contracts/{{ identityType }}">
                                   {{ identityType }}
                                </a>
                             </td>
                          </tr>
                       {{/each}}
                    </table>
                 {{/unless}}
              </div>
           </div>
        </div>
    </div>
</div>